<template>
  <form @submit.prevent="updateTarea(tarea)">
  <Inputs :tarea="tarea"/>
  </form>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import Inputs from '../components/Inputs.vue'
export default {
    components: {
        Inputs 
    },
    computed:{
        ...mapState(['tarea'])
    },
    methods:{
        ...mapActions(['setTarea','updateTarea'])
    },
    created(){
        this.setTarea(this.$route.params.id)
    }
}
</script>
