<template>
  <form class="mt-3" @submit.prevent="procesarFormulario">
    <Inputs :tarea="tarea" />
  </form>

  <hr>

  <ListaTarea />

</template>

<script>
  import Inputs from '../components/Inputs.vue'
  import ListaTarea from '../components/ListaTarea.vue'

  import {mapActions} from 'vuex'

  const shortid = require('shortid');


  export default {
    name: 'Home',
    components: {
      Inputs,
      ListaTarea

    },
    data() {
      return {
        tarea: {
          id: '',
          nombre: '',
          categorias: [],
          estado: '',
          descripcion: ''
        }
      }
    },

    methods: {
      ...mapActions(['setTareas','getDatabase']),

      procesarFormulario() {

        //Validación de campo nombre vacío
        if (this.tarea.nombre.trim() === '') {
          console.log('Campo vacio')
          return
        }

        //generar id con shortid
        this.tarea.id = shortid.generate();

        //enviar los datos, ejecuta la accion, que mediante la mutación modifica el estado en la tienda
        this.setTareas(this.tarea)

        this.tarea = {
          id: '',
          nombre: '',
          categorias: [],
          estado: '',
          numero: 0
        }
      }
    },
    created(){
      this.getDatabase();
}

  }
</script>