<template>
  <label for="nombre">
    Nombre de la tarea
  </label>
  <input type="text" class="form-control mb-3" placeholder="Ingrese nombre" v-model.trim="tarea.nombre" id="nombre">
  
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="check-1" v-model="tarea.categorias" value="Javascript Vanilla">
    <label for="check-1" class="form-check-label">
      Javascript Vanilla
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="check-2" v-model="tarea.categorias" value="Node JS">
    <label for="check-2" class="form-check-label">
      Node JS
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="check-3" v-model="tarea.categorias" value="React JS">
    <label for="check-3" class="form-check-label">
      React JS
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="check-4" v-model="tarea.categorias" value="Database Fix">
    <label for="check-4" class="form-check-label">
      Database fix
    </label>
  </div>

  <div class="mt-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="radio1" value="Urgente" v-model="tarea.estado">
      <label for="radio1" class="form-check-label">
        Urgente
      </label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="radio2" value="No urgente" v-model="tarea.estado">
      <label for="radio2" class="form-check-label">
        No urgente
      </label>
    </div>
  </div>

  <div class="mt-2">
    <label for="descripcion">Descripción</label>
    <textarea v-model="tarea.descripcion" class="form-control" style="height: 90px; resize:none;" maxlength="300"
      id="descripcion"></textarea>
    <label for="descripcion">Max. 300 caracteres</label>
  </div>

  <button type="submit" class="btn btn-dark mt-2 btn-block" :disabled='bloquear'>
    Cargar Tarea
  </button>
</template>

<script>
  export default {
    props: {
      tarea: Object
    },
    computed: {
      bloquear() {
        return this.tarea.nombre.trim() === '' ? true : false
      }
    }
  }
</script>