<template>
<div class="table-responsive">
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categorías</th>
                <th scope="col">Carácter</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="object in tareas" :key="object.id">
                <th scope="row">{{object.id}}</th>
                <td>{{object.nombre}}</td>
                <td>{{object.categorias ? object.categorias.join(', ') : object.categorias}}</td>
                <td>{{object.estado}}</td>
                <td>{{object.descripcion}}</td>
                <td>
                    <router-link class="btn btn-warning btn-sm mr-2" :to="{
                        name: 'Editar',
                        params:{
                            id: object.id
                            }
                    }">
                        Editar
                    </router-link>
                    <button class="btn btn-danger btn-sm my-2" @click="deleteTareas(object.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    } from 'vuex'
    export default {
        computed: {
            ...mapState(['tareas'])
        },
        methods: {
             ...mapActions(['deleteTareas'])
        }
    }
</script>