<template>
  <div class="navbar navbar-dark bg-dark">
    <router-link to="/" class="navbar-brand">
      Gestor de Tareas en Vue + Google Firebase
    </router-link>
    <div class="d-flex">
      <router-link class="btn btn-dark" to="/login" v-if="!usuarioAutenticado">
        Ingresar
      </router-link>
      <router-link class="btn btn-dark" to="/registro" v-if="!usuarioAutenticado">
        Registrar
      </router-link>
      <button class="btn btn-dark" v-if="usuarioAutenticado" @click="cerrarSesion">
        Cerrar Sesión
      </button>
    </div>
  </div>
</template>

<script>
  import {
    mapActions,
    mapGetters
  } from 'vuex'
  export default {
    computed: {
      ...mapGetters(['usuarioAutenticado'])
    },
    methods: {
      ...mapActions(['cerrarSesion'])
    }
  }
</script>

<style>

</style>